html {
    background: url(../img/minewallp.jpg) no-repeat center center fixed;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}

h1 {
    text-align: center;
}

.level-btns {
    text-align: center;
    margin: auto;
}

button {
    cursor: pointer;
}

.manual-game-activated {
    display: none;
    text-align: center;
    color: silver;
}

.game-features {
    margin-top: 2rem;
    text-align: center;
    height: 4rem;
}

.hints {
    cursor: pointer;
    width: 50px;
    padding: 0.5rem;
}

.lives {
    padding: 0.5rem;
}

.heart-img {
    width: 25px;
}

.hint-img {
    width: 25px;
}

.hint-modal {
    display: none;
    text-align: center;
}

.game-info {
    text-align: center;
}

.flags-counter {
    padding: 1.2rem;
}

.timer {
    padding: 1.2rem;
    text-align: center;
}

.play-again-btn {
    
    cursor: pointer;
    /* text-align: center; */
    width: 26px;
}

.board {
    text-align: center;
    margin: 40px auto;
    background-color: silver;
}

td {
    /* cursor: pointer; */
    width: 25px;
    height: 25px;
    /* visibility: hidden; */
    /* z-index: -1; */
}

.closed-cell {
    /* background-position: 0 30px; */
    cursor: pointer;
    background-color: teal;
    /* background-image: url(https://minesweeper.online/img/skins/hd/closed.svg?v=2) no-repeat; */
}

.safe-cell {
    cursor: pointer;
    background-color: blueviolet;
}

.opened-cell {
    background-color: silver;
    text-align: center;
    /* visibility: visible; */
    /* z-index: 1; */
}

.opened-cell:hover {
    cursor: auto;
}

.flag-mine-imgs {
    width: 20px;
}

.scores {
    text-align: center;
    margin: auto auto;
    width: 22rem;
}

.level-tab {
    background-color: silver;
}

.levels-header, .level-tab {
    border: 1px solid black;
    border-collapse: collapse;
}

.score-info, td {
    background-color: silver;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

.safe-btn {
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 1rem auto;
}

/* .num {
    display: block;
    text-align: center;
} */

.num-of-clicks {
    text-align: center;
    color: silver;
}
