html {
    background: url(../img/minewallp.jpg) no-repeat center center fixed;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}

h1 {
    text-align: center;
}

.level-btns {
    text-align: center;
    margin: auto;
}

.game-features {
    margin-top: 2rem;
    text-align: center;
    height: 4rem;
}

.hints {
    cursor: pointer;
    width: 50px;
    padding: 0.5rem;
}

.lives {
    padding: 0.5rem;
}

.heart-img {
    width: 25px;
}

.hint-img {
    width: 25px;
}

.hint-modal {
    display: none;
    text-align: center;
}

.game-info {
    text-align: center;
}

.flags-counter {
    padding: 1.2rem;
}

.timer {
    padding: 1.2rem;
    text-align: center;
}

.play-again-btn {
    cursor: pointer;
    width: 26px;
}

.board {
    text-align: center;
    margin: 40px auto;
    background-color: silver;
}

td {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.closed-cell {
    background-color: teal;
    content: '🟦';
   
}

.opened-cell {
    background-color: silver;
}

.opened-cell:hover {
    cursor: auto;
}

.flag-mine-imgs {
    width: 20px;
}

.scores {
    text-align: center;
    margin: auto auto;
    width: 22rem;
}

.level-tab {
    background-color: silver;
}

.levels-header, .level-tab {
    border: 1px solid black;
    border-collapse: collapse;
}

.score-info, td {
    background-color: silver;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}
