body {
    background-color: #8c99928c;
    color: black;
    text-align: center;
    background-image: url(../img/bcg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.cell {
    width: 30px;
    height: 30px;
    text-align: center
}

.shown {
    background-color: lightslategrey;
}

.body {
    display: flex;
}

.play-btn {
    width: 43px;
    height: 37px;
    cursor: pointer;
}

.start {
    margin: 20px 30px;
}

form {
    margin-top: 16px;
}

.game {
    margin: auto;
}

.game-header {
    display: flex;
    justify-content: space-around;
}

.board {
    border: 1px;
    margin: auto;
    box-shadow: -4px 9px 43px 14px rgba(242, 62, 17, 1);
}

img {
    width: 30px;
    height: 30px;
}

td {
    background-color: #aaa9ad;
    text-align: center;
    width: 30px;
    height: 30px;
}

table {
    margin-top: 5px;
    border: 1px;
    color: black;
}

h4 {
    margin: 0 10px;
}

.mines-container,
.clock-container {
    display: flex;
    width: 35px;
    height: 35px;
    border: 1px solid;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #f5f5f5;
    text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px #F90, 0px -20px 40px #C33;
    font-size: 40px;
}

h4 {
    color: orangered;
}

input {
    box-shadow: 0px 0px 15px 2px #f5978e;
    background: linear-gradient(to bottom, #ede617 5%, #c62d1f 100%);
    background-color: #ede617;
    border-radius: 12px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 4px;
    text-decoration: none;
    text-shadow: 0px 17px 4px #810e05;
}

input:hover {
    background: linear-gradient(to bottom, #c62d1f 5%, #ede617 100%);
    background-color: #c62d1f;
}

input:active {
    position: relative;
    top: 1px;
}